*{margin: 0; padding: 0; color: rgb(230, 230, 230);}

input{text-align: left; padding: 0 15px;}
input:focus {outline: 1px solid whitesmoke;}


#wrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 103);
}

#form_wrap{
    width: 35vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(191, 191, 211); */
    /* 배경사진에 이미지 투명도 조절하기 */
    /* https://forgottenknowledge.tistory.com/49 */
    background-image: linear-gradient(rgba(51, 54, 80, 0.7), rgba(30, 26, 45, 0.7)),
        url(https://cdn.pixabay.com/photo/2020/11/12/16/55/road-5736078_960_720.jpg);
         background-repeat: no-repeat;
         background-position: center;
}

#con_wrap{
    width: 30vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

/* head, sec, foot - common */
header, section, footer{
    width: 100%;
}



/* section */

section{
    display: flex;
    flex-direction: column;
}

section .form {
    margin-bottom: 10px;
}

section .form p{
    font-size: 13px;
    margin-bottom: 1px;
    color: rgb(162, 162, 162);
}

section .form input{
    width: 100%;
    height: 4vh;
    box-sizing: border-box;
    border-radius: 2vh;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
}

#username:focus label:first-child p{
    color: rgb(230, 230, 230);
}


#btn{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    background-color: rgb(65, 58, 102);

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    position: relative;

}

#btn span{
    z-index: 9;
    font-weight: 800;
}

#btn::before{
    content:"";
    position: absolute;
    width: 0%;
    height: 5vh;

    border-radius: 2vh;


    background-color: rgb(184, 180, 201);
    transition: all .4s;
}


#btn:hover::before{
    width:100%;
}

#btn:hover span{
    color: rgb(48, 48, 57);
}

/* footer */

footer{
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

/* span */

#form_wrap h5{
    font-size: 11px;
    color: gray;
    margin-top: 25px;
    cursor: pointer;
}
